body {
    background-color: #2D3142;
}

* {
  font-family: serif;
}

.head_margin {
  border: none;
  margin-bottom: 100px;
  margin-right: 520px;
  margin-left: 520px;
  background-color: #BFC0C0;
}


.header_logo_div {
    display: flex;
    justify-content: space-between;
}

.header_buttons_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo_photo {
    margin-left: 20px;
    width: 15%;
    justify-content: flex-start;
}

.nav_margin {
  border: none;
  margin-bottom: 100px;
  margin-right: 520px;
  margin-left: 520px;
  background-color: #4F5D75;
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}


.article_discounted {
  border: none;
  margin-bottom: 100px;
  margin-right: 520px;
  margin-left: 520px;
  height: 450px;
  background-color: #4F5D75;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


.article_discounted_header {
  border: none;
  margin-bottom: -0px;
  margin-right: 520px;
  margin-left: 520px;
  height: 50px;
  background-color: #4F5D75;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.article_product_box {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #BFC0C0;
}

.article_new_arrivals {
  border: none;
  margin-bottom: 100px;
  margin-right: 520px;
  margin-left: 520px;
  height: 450px;
  background-color: #4F5D75;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.new_arrivals_header {
  border: none;
  border-top: none;
  margin-bottom: -0px;
  margin-right: 520px;
  margin-left: 520px;
  height: 50px;
  background-color: #4F5D75;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.article_contacts {
  border: none;
  margin-bottom: 100px;
  margin-right: 520px;
  margin-left: 520px;
  background-color: #4F5D75;
}


.footer_margin {
  border: none;
  margin-bottom: 100px;
  margin-right: 520px;
  margin-left: 520px;
  background-color: #BFC0C0;    
}